.tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container,.tribe-events-pg-template{
    margin-top:5em !important;
    .tribe-events-before-html{
        margin-bottom:2em;
        margin-top:2em;
    }

}
.tribe-events{
    &-c-search__button{
        // background-color:#4D57D6 !important;
    }
}