.carousel{
  width:100%;
  height:100%;
      video{
      display: block;
      width: 100%;
      height: 100%;
    }
      &-cell {
      width: 100vw;
      height: 100vh;
    }
      &.is-fullscreen .carousel-cell {
      height: 100%;
    }
  // enable if you want buttons to show/work
  //   button{
  //       z-index:2;
  //   }
  .flickity-page-dots{
    display:none;
}
button{
    display:none;
}
.flickity-viewport{
  pointer-events: none;
}

.carousel-cell{

  .z-index{
    bottom:0;
    position: absolute;
    height:auto; 
    width: 100%;
    left:0;
    top:35vh;
    @include md-screen{

      top:70vh;
    }
    .slider-header{
      opacity:0;
      transition:all 2s ease-in-out;
      padding-bottom:2rem;
      // top:220px;
      display: block;
      // height:50vh;


      pointer-events:visible;

      h1,h2{
        color:white;
        text-shadow: 2px 2px black;
        display:flex;
        align-items: center;
        justify-content: center;
      }

      i{
        font-size:32px;
        margin-left:16px;
        padding-top:10px;
        transition:$menu_transition;
      }
      &:hover{
        i{
          margin-left:32px;
        }

      }
      }
    }
    &.is-selected{
      .slider-header{
        opacity:1;
      }
  }


}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: #fff;
	fill: transparent;
	stroke-width:2px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}
}
