.two-one-column-row{
    justify-content: center;
    .col-12{
        margin:12px 0px;
        padding-left:8px;
        padding-right:8px;
    }
 
    .small{
       p{
           font-size:14px;
       } 
    }
}

.down-arrow{
    position: absolute;
    bottom: 16px;
    color:#fff;
    font-size:1.7em;
}
.border-radius_global{
    border-radius:$border-radius;
}
.background_layer{
  background-size: cover;
  background-position: center;
    height:100%;
    &_dark_global{
        opacity: 0.75;
        position: absolute;
        left: 0;
        top: 0;  
        border-radius:$border-radius;
        width: 100%;
        height: 100%;
        background-color: #050505;
        box-shadow: 5px 5px 5px grey;
        &_z_index_1{
            z-index:-1 !important;
        }
    }
   
}

.ajust-padding{
  padding:0px !important;
  .wp-block-latest-posts__list{
    margin-top:8px;
    padding-top:12px;
    a{
        font-size:1.1em;
        color:$logo-blue;
        display:block;
        transition:$menu_transition;
    }
    li {
        padding:6px 11px 6px;
        transition:$menu_transition;
        &:hover{
           background-color: rgba(0,0,0,.705);
           a{
            color:white;
           }
   
        }
      
}
}
}


// events list block

.tribe-events-view--widget-events-list{
    margin-bottom:0px !important;
    .tribe-events-widget-events-list{

        h2, span,a,time {
            font-family:glacial-indifference !important;
            color:white !important;
            letter-spacing:1px;
        }
        h2{
           
        line-height: 1.7em !important;
        font-family:glacial-indifference !important;
        font-size:1.2em !important;
    }
       a{
        font-size:17px;
        &:hover{
            outline-color:white !important;
            border-bottom-color:white !important;
        }
       } 
    }
}

// top botton

#button-to-top {
    display: inline-block;
    background-color: $logo-blue;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 20px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    box-shadow:2px 2px 5px hsl(0deg 0% 50% / 59%)
  }
  #button-to-top::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button-to-top:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button-to-top:active {
    background-color: #555;
  }
  #button-to-top.show {
    opacity: 1;
    visibility: visible;
  }

  @media (min-width: 500px) {

    #button-to-top {
      margin: 30px;
    }
  }