.two-one-column-row{
    justify-content: center;
    .col-12{
        margin:12px 0px;
    }
    .small{
       p{
           font-size:14px;
       } 
    }
}

.down-arrow{
    position: absolute;
    bottom: 16px;
    color:#fff;
    font-size:1.7em;
}