.short-header{
position:relative;
			&_top_container {
				min-height: 60vh;
				// display: flex;
				// align-items: center;
				padding: 8em 4px 3em; 
				position: relative;
				background-position: center;
				background-size:cover;
				.h1-container{
					margin:0;
					position:absolute;
					bottom:0;
					opacity: 0.75;
					position: absolute;
					left: 0;
					width: 100%;

					z-index:0;
					background-color: #05050585;
					box-shadow: 5px 5px 5px grey;
					h1 {

						color: white;
						font-weight: 700;
						animation: fadeInLeft 1500ms ease-in-out;
						@media(max-width:768px){
							font-size:36px;
							
						}
					}
				}
	
                
			}
		
	}

	.content-row {
      
		.content {
  
			padding: 1em 0em;
			font-weight: 600;
            font-size:24px;
			width:100%;
			text-align:center;
        }

}

