.single{
    .post{
        margin-top:8em;
    }
}

.wp-block-latest-posts__list{
    margin-top:0px;
    li {
        margin-bottom:.2em;
        a{
        font-size:1.6em;
        color:$logo-blue;
      
    }
}
}