$height: 100vh;
$container_spacing: 25px; 
.video-template{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    .background_layer_dark{
        opacity: 0.75;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
        height: $height;
        z-index:0;
		background-color: #05050585;
		box-shadow: 5px 5px 5px grey;
    } 
    .video-container{
        box-shadow:3px 3px 5px grey;
        height:$height;
        display: flex;
        justify-content: center;
        align-items: center;

        video{
            object-fit: cover;
            display:block;
            width: 100%;
            height: $height;
            position:absolute;
        }
        .h1-container{
            position: absolute;
            text-align: center;
            margin:0em 1em 0em;
            border-radius: $border-radius;
            bottom:0px;
                     
            h1{
                color:white;
                text-shadow:2px 2px 5px black;
                font-size:2em;
            }
            .inner-container{
                justify-content:center;
                padding:1em 0.5em 0em;
                align-items: center;
                i{
                    margin-left:5%;
                    font-size:24px;
                    transition:$menu_transition;
                }
                .left,.right{
                    margin:0;
                    padding:0.5em;
                    font-weight: 400;
                    color:$logo-blue;
                }
                .left{
                    background-color:#141315;
                    border-radius:8px 8px 0px 0px;
                  
                }
                .right{
                    background-color:#1c1b20;
                    border-radius:0px 0px 8px 8px;
                    justify-content: center;
                    align-items: center;
                    display:flex;
                    font-size:24px;
                }
            }

        } 
   
    }
    // .tribe-common{
    //     margin-top:0px;
    // }
    // &-content{
    //     margin-top:70px; 
    // }
        @include md-screen{
            // &-content{
            //     margin-top:70px; 
            // }
            .video-container{
            .h1-container{
                margin:0em;
                bottom:$container_spacing;
           
                .inner-container{
                    justify-content:space-between;
                    padding:0em;
                    h4{
                        padding:1em;
                        margin:0;
                    }
                    .left,.right{
                        min-height:100px;
                        padding:1em;
                    }
                    .left{
                        border-radius:8px 0px 0px 8px;
                    }
                    .right{
                        border-radius:0px 8px 8px 0px;
                    }
                    &:hover{
                        i{
                            margin-left:10%;
                        }
                    }
                }
            }
        }
    
        }
    }
