
@mixin xl-screen {
    @media (min-width: 1280px) { @content; }
}

@mixin lg-screen {
    @media (min-width: 992px) { @content; }
}

@mixin md-screen {
    @media (min-width: 768px) { @content; }
}

@mixin sm-screen{
    @media (min-width: 576px) { @content; }
}
$height: 75vh;
$container_spacing: 105px; 
.video-template{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    z-index:-1;
    .video-container{
        height:$height;
        background-size:cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        video{
            display:none;
        }
        .h1-container{
            text-align: center;
            h1{
              
            }
        } 
   
    }


        @include md-screen{
            .video-container{
                background-image:none;
            video{
                // display:block;
                width: 100%;
                height: $height;
                position:absolute;
                object-fit: cover;
            }
            .h1-container{
                position: absolute;
                background-color:red;
                bottom:$container_spacing;
                border-radius: $border-radius;
            }
        }
        &-content{
            margin-top:120px; 
        }
        }
    }

