$height: 90vh;
$container_spacing: 0px; 
.video-template{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    .background_layer_dark{
        opacity: 0.75;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: $height;
		background-color: #05050585;
		box-shadow: 5px 5px 5px grey;
    } 
    .video-container{
        height:$height;
        background-size:cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        video{
            display:none;
        }
        h1{
            color:white;
            text-shadow:2px 2px 5px black;
        }
        .h1-container{
            text-align: center;
            margin:0em 1em 0em;
            border-radius: $border-radius;
            .inner-container{
                justify-content:center;
                padding-top:1em;
           
          
                i{
                    margin-left:5%;
                    font-size:24px;
                    transition:$menu_transition;
                }
                .left,.right{
                    margin:0;
                    padding:1em;
                    font-weight: 400;
                    color:$logo-blue;
                }
                .left{
                    background-color:#141315;
                    border-radius:8px 8px 0px 0px;
                  
                }
                .right{
                    background-color:#1c1b20;
                    border-radius:0px 0px 8px 8px;
                    font-size:20;
                    justify-content: center;
                    align-items: center;
                }
            }

        } 
   
    }
    .tribe-common{
        margin-top:0px;
    }

        @include md-screen{
            &-content{
                margin-top:105px; 
            }
            .video-container{
                background-image:none;
            video{
                display:block;
                width: 100%;
                height: $height;
                position:absolute;
                object-fit: cover;
            }
            .h1-container{
                position: absolute;
                margin:0em;
                bottom:$container_spacing;
           
                .inner-container{
                    justify-content:space-between;
                    align-items: center;
                    padding:0em;
                    h4{
                        padding:1em;
                        margin:0;
                    }
                    .left,.right{
                        min-height:100px;
                    }
                    .left{
                        border-radius:8px 0px 0px 8px;
                    }
                    .right{
                        border-radius:0px 8px 8px 0px;
                    }
                    &:hover{
                        i{
                            margin-left:10%;
                        }
                    }
                }
            }
        }
    
        }
    }

